<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/dashprueba.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="shortcut icon" href="./assets/img/favicon-16x16.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/40464329d6.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <title>Dashboard</title>
</head>

<body>
    <div id="app">

        <div class="grid">
            <header class="header">
                <i class="fas fa-bars header__menu"></i>
                <div class="header__search">
                </div>
                <div class="header__avatar">
                    <div class="dropdown">
                        <ul class="dropdown__list">
                            <li class="dropdown__list-item">
                                <span class="dropdown__icon"><i class="far fa-user"></i></span>
                                <span class="dropdown__title">my profile</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>

            <aside class="sidenav">
                <div class="sidenav__brand">
                    <i class="fa-solid fa-building-columns"></i>
                    <a class="sidenav__brand-link" href="#">Hubber's<span class="text-light"> bank</span></a>
                    <i class="fas fa-times sidenav__brand-close"></i>
                </div>
                <div class="sidenav__profile">
                    <div class="sidenav__profile-avatar"></div>
                    <div class="sidenav__profile-title text-light">{{client.firstName}}
                        {{client.lastName}}</div>
                </div>
                <div class="d-flex row--align-h-center">
                    <ul class="navList">
                        <li class="navList__heading ">Dashboard<i class="far fa-file-alt"></i></li>
                        <li>
                            <div class="navList__subheading d-flex">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-wallet"></i></span>
                                <span class="navList__subheading-title">Accounts</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="#">Principal</a></li>
                                <li class="subList__item" v-for="account in activeAccounts">
                                    <a :href="'./transfers2.html?id='+account.id">{{account.number}}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__subheading d-flex">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-credit-card"></i></span>
                                <span class="navList__subheading-title">cards</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="./cards2.html"> Your cards</a></li>
                                <li class="subList__item"><a href="./paymentcard.html">Payments</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__subheading d-flex">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-coins"></i></span>
                                <span class="navList__subheading-title">loans</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="./loans.html"> your loans</a></li>
                                <li class="subList__item"><a href="./loans.html">new loan</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__logout d-flex" @click="logout()">
                                <span class="navList__subheading-icon"><i class="fas fa-sign-out-alt"></i></span>
                                <span class="navList__subheading-title" click="logout()">logout</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
            <main class="main">
                <div class="main-header">
                    <div class="main-header__intro-wrapper">
                        <div class="main-header__welcome">
                            <div class="main-header__welcome-title text-light">Welcome, <strong>{{client.firstName}}
                                    {{client.lastName}}</strong></div>
                            <div class="main-header__welcome-subtitle text-light">How are you today?</div>
                        </div>
                        <div class="quickview">

                        </div>
                    </div>
                </div>
                <div class="main-overview">
                    <div class="overviewCard  modal-dialog-centered btn-modal" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop2" v-if="activeAccounts.length < 3">
                        <div class="overviewCard-icon overviewCard-icon--document">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <div class="overviewCard-description">
                            <h3 class="overviewCard-title text-dark">New <strong>Account</strong></h3>
                            <p class="overviewCard-subtitle">
                                More accounts, more moves</p>
                        </div>
                    </div>
                    <div class="overviewCard  modal-dialog-centered btn-modal" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop4">
                        <div class="overviewCard-icon overviewCard-icon--delete">
                            <i class="fa-solid fa-x"></i>
                        </div>
                        <div class="overviewCard-description">
                            <h3 class="overviewCard-title text-dark">Delete <strong>Account</strong></h3>
                            <p class="overviewCard-subtitle">Bye Bye!</p>
                        </div>
                    </div>
                    <!--MODAL DELETE ACCOUNT-->
                    <div class="modal fade " id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content form-card">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Delete Account</h5>
                                    <button type="button" class="btn-close btn_close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <form class="modal-body ">
                                    <fieldset class="mt-4">
                                        <h4>which account do you want to delete:</h4>
                                        <select v-model="accountDisable" class="">
                                            <option :value="account.number" v-for="account in activeAccounts">
                                                {{account.number}}-{{account.accountType}}</option>
                                        </select>
                                    </fieldset>
                                </form>
                                <div class="modal-footer">
                                    <button @click="disableAccount()" class="btn btn-sendTansfer ms-2" type="submit">
                                        <span class="btn-text-one">Delete</span>
                                        <span class="btn-text-two">Great!</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--MODAL DELETE ACCOUNT END-->
                    <!-- MODAL ACCOUNT CREATION -->
                    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content form-card">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Crate Account</h5>
                                    <button type="button" class="btn-close btn_close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <form class="modal-body">
                                    <fieldset class="mt-4">
                                        <h4>which type account desire:</h4>
                                        <select v-model="accountTypes" class="">
                                            <option value="CURRENT">Current Account</option>
                                            <option value="SAVING">Savings bank</option>
                                        </select>
                                    </fieldset>
                                </form>
                                <div class="modal-footer">
                                    <button @click="createAccount()" class="btn btn-sendTansfer ms-2" type="submit">
                                        <span class="btn-text-one">Apply for</span>
                                        <span class="btn-text-two">Great!</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--MODAL ACCOUNT CREATION END-->
                    <a href="./cards2.html">
                        <div class="overviewCard">
                            <div class="overviewCard-icon overviewCard-icon--calendar">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="overviewCard-description">
                                <h3 class="overviewCard-title text-dark">New <strong>Card</strong></h3>
                                <p class="overviewCard-subtitle">where you are, where you go</p>
                            </div>
                        </div>
                    </a>
                    <a href="./loans.html">
                        <div class="overviewCard">
                            <div class="overviewCard-icon overviewCard-icon--photo">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="overviewCard-description">
                                <h3 class="overviewCard-title text-dark">New <strong>Loan</strong></h3>
                                <p class="overviewCard-subtitle">
                                    Make your dreams</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="main__cards">
                    <div class="card card--finance">
                        <div class="card__header">
                            <div class="card__header-title text-light">Your <strong>Accounts</strong>
                            </div>
                        </div>
                        <div v-for="account in activeAccounts">
                            <a :href="'./transfers2.html?id='+account.id">
                                <div class="overviewCard">
                                    <div class="overviewCard-icon "
                                        :class="account.accountType == 'SAVING' ? 'overviewCard-icon--calendar' : 'overviewCard-icon--document'">
                                        <i class="fa-solid fa-wallet"></i>
                                    </div>
                                    <div class="overviewCard-description ms-4">
                                        <h3 class="overviewCard-title text-dark">{{account.accountType}} ACCOUNT:
                                            <strong>{{account.number}}</strong>
                                        </h3>
                                        <p class="overviewCard-subtitle">${{account.balance.toLocaleString('es-MX')}}
                                        </p>
                                    </div>
                                    <span>

                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="card__header">
                            <div class="card__header-title text-light">Your last <strong>Moves</strong>
                            </div>
                        </div>
                        <div class="card__row" v-for="transaction in clientTransactions"
                            v-if="clientTransactions.length > 0">
                            <div class="card__icon"><i class="fa-solid fa-money-bill-1"></i></div>
                            <div class="card__time">
                                <div>{{formatDate(transaction.dateCreation)}}</div>
                            </div>
                            <div class="card__detail">
                                <div class="card__source text-bold" style="color:black; font-size: 20px;">Amount:
                                    $ {{transaction.amount.toLocaleString('es-MX')}}</div>
                                <div class="card__source text-bold" style="color: red;"
                                    v-if="transaction.type == 'DEBIT'">{{transaction.type}}</div>
                                <div class="card__source text-bold" style="color: green;"
                                    v-if="transaction.type == 'CREDIT'" v-else="">{{transaction.type}}</div>
                                <div class="card__description">{{transaction.description}}</div>
                            </div>
                        </div>

                        <div class="card__row  justify-content-center fs-4 fw-bold text-center" v-else>
                            <p>Beep! beep! nothing here</p>
                        </div>
                    </div>
                    <div class="card--video h-25">
                        <div class="card__header">
                            <div class="card__header-title text-light">Making <strong>Dreams</strong> come true.
                            </div>
                        </div>
                        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="3500">
                                    <video src="./assets/vid/carroselvid1.mp4" class="d-block w-100" autoplay loop muted
                                        alt="...">
                                        <div class="carousel-caption">
                                            <h5>Always with you!</h5>
                                            <p>where are you at any time.</p>
                                        </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="3500">
                                    <video src="./assets/vid/caruselvi2.mp4" class="d-block w-100" autoplay loop muted
                                        alt="...">
                                        <div class="carousel-caption ">
                                            <h5>Second slide label</h5>
                                            <p>Some representative placeholder content for the second slide.</p>
                                        </div>
                                        <div class="carousel-caption">
                                            <h5>Third slide label</h5>
                                            <p>Some representative placeholder content for the third slide.</p>
                                        </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="3500">
                                    <video src="./assets/vid/vid.mp4" class="d-block w-100" autoplay loop muted
                                        alt="...">
                                        <div class="carousel-caption">
                                            <h5>Third slide label</h5>
                                            <p>Some representative placeholder content for the third slide.</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="footer">
                <div class="footer__header align-baseline">
                    <img src="./assets/img/hb.png" alt="" id="logoFooter">
                    <p><span class="footer__copyright">&copy;</span> 2022</p>
                </div>
                <p>Hubber's Bank by <a href="https://github.com/AlejandroTorresM" target="_blank"
                        class="footer__signature">Alejandro, Torres Marambio</a></p>
            </footer>
        </div>
    </div>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src='https://www.amcharts.com/lib/3/amcharts.js'></script>
    <script src='https://www.amcharts.com/lib/3/serial.js'></script>
    <script src='https://www.amcharts.com/lib/3/themes/light.js'></script>
    <script src="./archivosjs/dashboard.js"></script>
</body>

</html>