<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/dashprueba.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="shortcut icon" href="./assets/img/favicon-16x16.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/40464329d6.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <div id="app">

        <div class="grid">
            <header class="header">
                <i class="fas fa-bars header__menu"></i>
                <div class="header__search">
                </div>
                <div class="header__avatar">
                    <div class="dropdown">
                        <ul class="dropdown__list">
                            <li class="dropdown__list-item">
                                <span class="dropdown__icon"><i class="far fa-user"></i></span>
                                <span class="dropdown__title">my profile</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>

            <aside class="sidenav">
                <div class="sidenav__brand">
                    <i class="fa-solid fa-building-columns"></i>
                    <a class="sidenav__brand-link" href="#">Hubber's<span class="text-light"> bank</span></a>
                    <i class="fas fa-times sidenav__brand-close"></i>
                </div>
                <div class="sidenav__profile">
                    <div class="sidenav__profile-avatar"></div>
                    <div class="sidenav__profile-title text-light">{{client.firstName}}
                        {{client.lastName}}</div>
                </div>
                <div class="row row--align-v-center row--align-h-center">
                    <ul class="navList">
                        <li class="navList__heading ">Dashboard<i class="far fa-file-alt"></i></li>
                        <li>
                            <div class="navList__subheading row row--align-v-center">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-wallet"></i></span>
                                <span class="navList__subheading-title">Accounts</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="#">Principal</a></li>
                                <li class="subList__item"><a href="./transfers2.html"> new transaction</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__subheading row row--align-v-center">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-credit-card"></i></span>
                                <span class="navList__subheading-title">cards</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="./cards2.html"> Your cards</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__subheading row row--align-v-center">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-coins"></i></span>
                                <span class="navList__subheading-title">loans</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="./loans.html"> your loans</a></li>
                                <li class="subList__item"><a href="./loans.html">new loan</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__logout row row--align-v-center" @click="logout()">
                                <span class="navList__subheading-icon"><i class="fas fa-sign-out-alt"></i></span>
                                <span class="navList__subheading-title" click="logout()">logout</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
            <main class="main">
                <div class="main-header">
                    <div class="main-header__intro-wrapper">
                        <div class="main-header__welcome">
                            <div class="main-header__welcome-title text-light">Welcome, <strong>{{client.firstName}}
                                    {{client.lastName}}</strong></div>
                            <div class="main-header__welcome-subtitle text-light">How are you today?</div>
                        </div>
                        <div class="quickview">

                        </div>
                    </div>
                </div>
                <div class="main-overview">
                    <div class="overviewCard" @click="createAccount()" v-if="clientAccount.length <3">
                        <div class="overviewCard-icon overviewCard-icon--document">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <div class="overviewCard-description">
                            <h3 class="overviewCard-title text-light">New <strong>Account</strong></h3>
                            <p class="overviewCard-subtitle">
                                More accounts, more moves</p>
                        </div>
                    </div>
                    <a href="./cards2.html">
                        <div class="overviewCard">
                            <div class="overviewCard-icon overviewCard-icon--calendar">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="overviewCard-description">
                                <h3 class="overviewCard-title text-light">New <strong>Card</strong></h3>
                                <p class="overviewCard-subtitle">where you are, where you go</p>
                            </div>
                        </div>
                    </a>
                    <a href="./transfers2.html">
                        <div class="overviewCard">
                            <div class="overviewCard-icon overviewCard-icon--mail">
                                <i class="fa-solid fa-plus"></i>
                            </div>

                            <div class="overviewCard-description">
                                <h3 class="overviewCard-title text-light">Make <strong>Transaction</strong></h3>
                                <p class="overviewCard-subtitle">Move your money</p>
                            </div>
                        </div>
                    </a>
                    <a href="./loans.html">
                        <div class="overviewCard">
                            <div class="overviewCard-icon overviewCard-icon--photo">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="overviewCard-description">
                                <h3 class="overviewCard-title text-light">New <strong>Loan</strong></h3>
                                <p class="overviewCard-subtitle">
                                    Make your dreams</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="main__cards">
                    <div class="card card--finance">
                        <div class="card__header">
                            <div class="card__header-title text-light">Your <strong>Accounts</strong>
                            </div>
                        </div>
                        <div v-for="account in clientAccount">
                            <a :href="'./transfers2.html?id='+account.id">
                                <div class="overviewCard">
                                    <div class="overviewCard-icon overviewCard-icon--document">
                                        <i class="fa-solid fa-piggy-bank"></i>
                                    </div>
                                    <div class="overviewCard-description">
                                        <h3 class="overviewCard-title text-light">Account
                                            <strong>{{account.number}}</strong>
                                        </h3>
                                        <p class="overviewCard-subtitle">${{account.balance.toLocaleString('es-MX')}}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="card card--finance">
                        <div class="card__header">
                            <div class="card__header-title text-light">Your <strong>Accounts</strong>
                            </div>
                        </div>
                        <div class="card__main">
                            
                        </div>
                    </div> -->
                    <div class="card">
                        <div class="card__header">
                            <div class="card__header-title text-light">Your <strong>Last moves</strong>
                            </div>
                        </div>
                        <div class="card__main">
                            <div class="card__row" v-for="transaction in clientTransactions">
                                <div class="card__icon"><i class="fa-solid fa-money-bill-1"></i></div>
                                <div class="card__time">
                                    <div>{{formatDate(transaction.dateCreation)}}</div>
                                </div>
                                <div class="card__detail">
                                    <div class="card__source text-bold" style="color: red;"
                                        v-if="transaction.type == 'DEBIT'">{{transaction.type}}</div>
                                    <div class="card__source text-bold" style="color: green;"
                                        v-if="transaction.type == 'CREDIT'" v-else="">{{transaction.type}}</div>
                                    <div class="card__description">{{transaction.description}}</div>
                                    <div class="card__note">{{transaction.amount.toLocaleString('es-MX')}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="footer">
                <div class="footer__header">
                    <p><span class="footer__copyright">&copy;</span> 2022</p>
                    <img src="./assets/img/hb.png" alt="" id="logoFooter">
                </div>
                <p>Crafted with <i class="fas fa-heart footer__icon"></i> by <a href="#" target="_blank"
                        class="footer__signature">Alejandro, Torres Marambio</a></p>
            </footer>
        </div>

    </div>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src='https://www.amcharts.com/lib/3/amcharts.js'></script>
    <script src='https://www.amcharts.com/lib/3/serial.js'></script>
    <script src='https://www.amcharts.com/lib/3/themes/light.js'></script>
    <script src="./archivosjs/dashboard.js"></script>
</body>

</html>