<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/dashprueba.css">
    <link rel="stylesheet" href="./styles/loan.css">
    <link rel="shortcut icon" href="./assets/img/favicon-16x16.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/40464329d6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <title>Loans</title>
</head>

<body>
    <div id="app">

        <div class="grid">
            <header class="header">
                <i class="fas fa-bars header__menu"></i>
                <div class="header__search">
                </div>
                <div class="header__avatar">
                    <div class="dropdown">
                        <ul class="dropdown__list">
                            <li class="dropdown__list-item">
                                <span class="dropdown__icon"><i class="far fa-user"></i></span>
                                <span class="dropdown__title">my profile</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>

            <aside class="sidenav">
                <div class="sidenav__brand">
                    <i class="fa-solid fa-building-columns"></i>
                    <a class="sidenav__brand-link" href="./dashboard2.html">Hubber's<span class="text-light">
                            bank</span></a>
                    <i class="fas fa-times sidenav__brand-close"></i>
                </div>
                <div class="sidenav__profile">
                    <div class="sidenav__profile-avatar"></div>
                    <div class="sidenav__profile-title text-light">{{client.firstName}}
                        {{client.lastName}}</div>
                </div>
                <div class="d-flex row--align-h-center">
                    <ul class="navList">
                        <li class="navList__heading ">Dashboard<i class="far fa-file-alt"></i></li>
                        <li>
                            <div class="navList__subheading d-flex">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-wallet"></i></span>
                                <span class="navList__subheading-title">Accounts</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="./dashboard2.html">Principal</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__subheading d-flex">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-credit-card"></i></span>
                                <span class="navList__subheading-title">cards</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="./cards2.html"> Your cards</a></li>
                                <li class="subList__item"><a href="./paymentcard.html">Payments</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__subheading d-flex">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-coins"></i></span>
                                <span class="navList__subheading-title">loans</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="#">your loans</a></li>
                                <li class="subList__item"><a href="#">new loan</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__logout d-flex">
                                <span class="navList__subheading-icon"><i class="fas fa-sign-out-alt"></i></span>
                                <span class="navList__subheading-title" @click="logout()">log out</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
            <main class="main">
                <div class="main-header">
                    <div class="main-header__intro-wrapper">
                        <div class="main-header__welcome">
                            <div class="main-header__welcome-title text-light">
                                Are you looking for how to<strong> make that dream </strong>come true? <br> Let's apply
                                for a loan</div>

                        </div>
                        <div class="quickview">

                        </div>
                    </div>
                </div>
                <div class="main-overview" v-if="clientLoans.length < 3">
                    <div class="overviewCard " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <div class="overviewCard-icon overviewCard-icon--photo">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <div class="overviewCard-description">
                            <h3 class="overviewCard-title text-dark">New <strong>Loan</strong></h3>
                            <p class="overviewCard-subtitle">
                                Make your dreams</p>
                        </div>
                    </div>
                </div>
                <!-- Modal Loan -->
                <div class="modal fade modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="staticBackdropLabel">New Loan</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="" @submit.prevent="">
                                    <fieldset class="d-flex ms-3">
                                        <h6>Type Loan</h6>
                                        <select class="w-75 ms-3" name="" id="" v-model="loanNameChoose" required>
                                            <option :value="loan.nameLoan" v-for="loan in loanTypes">{{loan.nameLoan}}
                                            </option>
                                        </select>
                                    </fieldset>
                                    <fieldset class="d-flex ms-3 mt-4">
                                        <h6>Selected amount:</h6>
                                        <input type="number" name="" id="" class="ms-1"
                                            style="width: 100px; height: 30px;" v-model="newAmount" required>
                                    </fieldset>
                                    <fieldset class="d-flex ms-3 mt-4" v-if="loanNameChoose == 'Automotriz'">
                                        <h6>How many installments do you want to pay?</h6>
                                        <select class="ms-3 " style="width: 100px; height: 30px;"
                                            v-model="newPaymentLoan" v-for="loan in loanAutomotriz">
                                            <option :value="payment" v-for="payment in loan.payment">{{payment}}
                                            </option>
                                        </select>
                                    </fieldset>
                                    <fieldset class="d-flex ms-3 mt-4" v-if="loanNameChoose == 'Personal'">
                                        <h6>How many installments do you want to pay?</h6>
                                        <select class=" ms-3" style="width: 100px; height: 30px;"
                                            v-model="newPaymentLoan" v-for="loan in loanPersonal">
                                            <option :value="payment" v-for="payment in loan.payment">{{payment}}
                                            </option>
                                        </select>
                                    </fieldset>
                                    <fieldset class="d-flex ms-3 mt-4" v-if="loanNameChoose == 'Hipotecario'">
                                        <h6>How many installments do you want to pay?</h6>
                                        <select class="ms-3" style="width: 100px; height: 30px;"
                                            v-model="newPaymentLoan" v-for="loan in loanHipotecario">
                                            <option :value="payment" v-for="payment in loan.payment">{{payment}}
                                            </option>
                                        </select>
                                    </fieldset>
                                    <fieldset class="d-flex ms-3 mt-4">
                                        <h6>Account N° to deposit:</h6>
                                        <select name="" id="" v-model="accDestiny" class="form-check ms-3">
                                            <option :value="account.number" v-for="account in activeAccounts">
                                                {{account.number}} - ${{account.balance.toLocaleString('es-MX')}}
                                            </option>
                                        </select>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-sendTansfer" @click="createLoan">
                                    <span class="btn-text-one">Apply for</span>
                                    <span class="btn-text-two">Great!</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Modal Loan -->

                <div class="container" v-show="clientLoans.length < 3">
                    <table class="table table-striped table-bordered border-dark" v-for="loan in loanAutomotriz">
                        <thead>
                            <tr>
                                <th scope="row" colspan="4">{{loan.nameLoan}}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">Max amount</th>
                                <th scope="col">Payments</th>
                                <th scope="col">Interest per installment</th>
                            </tr>
                            <tr>
                                <th scope="row">$ {{loan.amount.toLocaleString('es-MX')}}</th>
                                <td>{{loan.payment}}</td>
                                <td>[20%, 25%, 30%, 40%]</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered border-success" v-for="loan in loanHipotecario">
                        <thead>
                            <tr>
                                <th scope="row" colspan="4">{{loan.nameLoan}}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">Max amount</th>
                                <th scope="col">Payments</th>
                                <th scope="col">Interest per installment</th>
                            </tr>
                            <tr>
                                <th scope="row">$ {{loan.amount.toLocaleString('es-MX')}}</th>
                                <td>{{loan.payment}}</td>
                                <td>[ 25%, 30%, 40%, 45%, 50%]</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered border-primary" v-for="loan in loanPersonal">
                        <thead>
                            <tr>
                                <th scope="row" colspan="4">{{loan.nameLoan}}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">Max amount</th>
                                <th scope="col">Payments</th>
                                <th scope="col">Interest per installment</th>
                            </tr>
                            <tr>
                                <th scope="row">$ {{loan.amount.toLocaleString('es-MX')}}</th>
                                <td>{{loan.payment}}</td>
                                <td>[20%, 25%, 30%]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="containerLoans">
                    <div class="card" v-for="loan in clientLoans"
                        :class="loan.loan == 'Automotriz' ? 'card0' : loan.loan == 'Personal' ? 'card1' : 'card2'"
                        v-if="clientLoans.length>0">
                        <div class="border">
                            <h4>{{loan.loan}}</h4>
                            <div class="icons">
                                <i class="fa-solid fa-sack-dollar" aria-hidden="true">
                                    {{loan.amount.toLocaleString('es-MX')}}</i>
                                <i class="fa-solid fa-file-invoice-dollar" aria-hidden="true"> {{loan.payment}}</i>
                            </div>
                        </div>
                    </div>
                    <div class="card__row  justify-content-center fs-3 fw-bold text-center" v-else>
                        <p>You do not have pending loans, we invite you to request a new one.</p>
                    </div>
                </div>

            </main>

            <footer class="footer">
                <div class="footer__header align-baseline">
                    <img src="./assets/img/hb.png" alt="" id="logoFooter">
                    <p><span class="footer__copyright">&copy;</span> 2022</p>
                </div>
                <p>Hubber's Bank by <a href="https://github.com/AlejandroTorresM" target="_blank"
                        class="footer__signature">Alejandro, Torres Marambio</a></p>
            </footer>
        </div>

    </div>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src='https://www.amcharts.com/lib/3/amcharts.js'></script>
    <script src='https://www.amcharts.com/lib/3/serial.js'></script>
    <script src="./archivosjs/loan-application.js"></script>
</body>

</html>