<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/dashprueba.css">
    <link rel="stylesheet" href="./styles/paymentcard.css">
    <link rel="shortcut icon" href="./assets/img/favicon-16x16.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/40464329d6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <div id="app">

        <div class="grid">
            <header class="header">
                <i class="fas fa-bars header__menu"></i>
                <div class="header__search">
                </div>
                <div class="header__avatar">
                    <div class="dropdown">
                        <ul class="dropdown__list">
                            <li class="dropdown__list-item">
                                <span class="dropdown__icon"><i class="far fa-user"></i></span>
                                <span class="dropdown__title">my profile</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>

            <aside class="sidenav">
                <div class="sidenav__brand">
                    <i class="fa-solid fa-building-columns"></i>
                    <a class="sidenav__brand-link" href="./dashboard2.html">Hubber's<span class="text-light">
                            bank</span></a>
                    <i class="fas fa-times sidenav__brand-close"></i>
                </div>
                <div class="sidenav__profile">
                    <div class="sidenav__profile-avatar"></div>
                    <div class="sidenav__profile-title text-light">{{client.firstName}}
                        {{client.lastName}}</div>
                </div>
                <div class="d-flex row--align-h-center">
                    <ul class="navList">
                        <li class="navList__heading ">Dashboard<i class="far fa-file-alt"></i></li>
                        <li>
                            <div class="navList__subheading d-flex">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-wallet"></i></span>
                                <span class="navList__subheading-title">Accounts</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="./dashboard2.html">Principal</a></li>
                            
                            </ul>
                        </li>
                        <li>
                            <div class="navList__subheading d-flex">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-credit-card"></i></span>
                                <span class="navList__subheading-title">cards</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="./cards2.html"> Your cards</a></li>
                                <li class="subList__item"><a href="#">Payments</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__subheading d-flex">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-coins"></i></span>
                                <span class="navList__subheading-title">loans</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="./loans.html">your loans</a></li>
                                <li class="subList__item"><a href="./loans.html">new loan</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__logout d-flex">
                                <span class="navList__subheading-icon"><i class="fas fa-sign-out-alt"></i></span>
                                <span class="navList__subheading-title" @click="logout()">log out</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
            <main class="main">
                <div class="main-header">
                    <div class="main-header__intro-wrapper">
                        <div class="main-header__welcome">
                            <div class="main-header__welcome-title text-light">
                                Are you looking for how to<strong> make that dream </strong>come true? <br> Let's apply
                                for a loan</div>

                        </div>
                        <div class="quickview">

                        </div>
                    </div>
                </div>

                <div class="main__cards">
                    <div class="card card--finance contenedor">
                        <section class="tarjeta" id="tarjeta">
                            <div class="delantera">
                                <div class="logo-marca" id="logo-marca">
                                    <img src="./assets/img/B.png" alt=""> 
                                </div>
                                <img src="./assets/img/chip.png" class="chip" alt="">
                                <div class="datos">
                                    <div class="grupo" id="numero">
                                        <p class="label">Número Tarjeta</p>
                                        <p class="numero">#### #### #### ####</p>
                                    </div>
                                    <div class="flexbox">
                                        <div class="grupo" id="nombre">
                                            <p class="label">Nombre Tarjeta</p>
                                            <p class="nombre">Jhon Doe</p>
                                        </div>
                
                                        <div class="grupo" id="expiracion">
                                            <p class="label">Expiracion</p>
                                            <p class="expiracion"><span class="mes">MM</span> / <span class="year">AA</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="trasera">
                                <div class="barra-magnetica"></div>
                                <div class="datos">
                                    <div class="grupo" id="firma">
                                        <p class="label">Firma</p>
                                        <div class="firma"><p></p></div>
                                    </div>
                                    <div class="grupo" id="ccv">
                                        <p class="label">CCV</p>
                                        <p class="ccv"></p>
                                    </div>
                                </div>
                                <p class="leyenda">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus exercitationem, voluptates illo.</p>
                                <a href="#" class="link-banco">www.tubanco.com</a>
                            </div>
                        </section>
                
                        <!-- Contenedor Boton Abrir Formulario -->
                        <div class="contenedor-btn">
                            <button class="btn-abrir-formulario" id="btn-abrir-formulario">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                
                        <!-- Formulario -->
                        <form action="" id="formulario-tarjeta" class="formulario-tarjeta" @submit.prevent="">
                            <div class="grupo">
                                <label for="inputNumero">Card number</label>
                                <select name="" id="" v-model="payCardNumber">
                                    <option value="" selected disabled>select card...</option>
                                    <option :value="card.cardNumber" v-for="card in cardsActive">{{card.cardNumber}}</option>
                                </select>
                            </div>
                            <div class="grupo">
                                <label for="inputNombre">Name</label>
                                <input type="text" id="inputNombre" maxlength="19" autocomplete="off" v-model="payCardHolder" placeholder="text name here">
                                <label for="">Description</label>
                                <input type="text" v-model="payDescriptions" placeholder="text description here">
                                <select name="" id="" v-model="payAccountNumber">
                                    <option value="" selected disabled>select account..</option>
                                    <option :value="account.number" v-for="account in activeAccounts">{{account.number}}-${{account.balance.toLocaleString('es-MX')}}</option>
                                </select>
                                <label for="">Amount</label>
                                <input type="number" v-model="payAmount" placeholder="$00.00">
                            </div>
                            <div class="flexbox">
                                <div class="grupo expira">
                                    <label for="selectMes">Expiracion</label>
                                    <div class="flexbox">
                                    <input type="text" name="" id="" placeholder="YYYY-MM-DD" v-model="payDateTrhu">
                                    </div>
                                </div>
                                
                                <div class="grupo ccv">
                                    <label for="inputCCV">CCV</label>
                                    <input type="text" id="inputCCV" maxlength="3" v-model="payCvvNumber" placeholder="XXX">
                                </div>
                            </div>
                            <button type="submit" class="btn-enviar" @click="makePayment">Pay</button>
                        </form>
                    </div>
                </div>
            </main>

            <footer class="footer">
                <p><span class="footer__copyright">&copy;</span> 2018 MTH</p>
                <p>Crafted with <i class="fas fa-heart footer__icon"></i> by <a
                        href="https://www.linkedin.com/in/matt-holland/" target="_blank" class="footer__signature">Matt
                        H</a></p>
            </footer>
        </div>

    </div>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src='https://www.amcharts.com/lib/3/amcharts.js'></script>
    <script src='https://www.amcharts.com/lib/3/serial.js'></script>
    <script src="./archivosjs/paymentcard.js"></script>
</body>

</html>