<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/dashprueba.css">
    <link rel="shortcut icon" href="./assets/img/favicon-16x16.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/40464329d6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <title>Transfers</title>
</head>

<body>
    <div id="app">

        <div class="grid">
            <header class="header">
                <i class="fas fa-bars header__menu"></i>
                <div class="header__search">
                </div>
                <div class="header__avatar">
                    <div class="dropdown">
                        <ul class="dropdown__list">
                            <li class="dropdown__list-item">
                                <span class="dropdown__icon"><i class="far fa-user"></i></span>
                                <span class="dropdown__title">my profile</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>

            <aside class="sidenav">
                <div class="sidenav__brand">
                    <i class="fa-solid fa-building-columns"></i>
                    <a class="sidenav__brand-link" href="./dashboard2.html">Hubber's<span class="text-light">
                            bank</span></a>
                    <i class="fas fa-times sidenav__brand-close"></i>
                </div>
                <div class="sidenav__profile">
                    <div class="sidenav__profile-avatar"></div>{{client.firstName}}
                    {{client.lastName}}
                    <div class="sidenav__profile-title text-light"></div>
                </div>
                <div class="d-flex row--align-h-center">
                    <ul class="navList">
                        <li class="navList__heading ">Dashboard<i class="far fa-file-alt"></i></li>
                        <li>
                            <div class="navList__subheading d-flex">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-wallet"></i></span>
                                <span class="navList__subheading-title">Accounts</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="./dashboard2.html">Principal</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__subheading d-flex">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-credit-card"></i></span>
                                <span class="navList__subheading-title">cards</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="./cards2.html"> Your cards</a></li>
                                <li class="subList__item"><a href="./paymentcard.html">Payments</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__subheading d-flex">
                                <span class="navList__subheading-icon"><i class="fa-solid fa-coins"></i></span>
                                <span class="navList__subheading-title">loans</span>
                            </div>
                            <ul class="subList subList--hidden">
                                <li class="subList__item"><a href="./loans.html"> your loans</a></li>
                                <li class="subList__item"><a href="./loans.html">new loan</a> </li>
                            </ul>
                        </li>
                        <li>
                            <div class="navList__logout d-flex">
                                <span class="navList__subheading-icon"><i class="fas fa-sign-out-alt"></i></span>
                                <span class="navList__subheading-title" @click="logout()">logout</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
            <main class="main">
                <div class="main-header">
                    <div class="main-header__intro-wrapper">
                        <div class="main-header__welcome">
                            <div class="main-header__welcome-title text-light">Move your <strong>Money</strong></div>
                            <div class="main-header__welcome-subtitle text-light">Do everything you need, everywhere at
                                all times</div>
                        </div>
                        <div class="quickview">

                        </div>
                    </div>
                </div>
                <div class="main-overview">
                    <div class="overviewCard " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <div class="overviewCard-icon overviewCard-icon--mail">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <div class="overviewCard-description">
                            <h3 class="overviewCard-title text-dark">Make <strong>New Transfer</strong></h3>
                            <p class="overviewCard-subtitle">Move your money</p>
                        </div>
                    </div>
                    <div class="overviewCard " data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                        <div class="overviewCard-icon overviewCard-icon--document">
                            <i class="fa-solid fa-print"></i>
                        </div>
                        <div class="overviewCard-description">
                            <h3 class="overviewCard-title text-dark">Downald <strong>Account Summary</strong></h3>
                            <p class="overviewCard-subtitle">Check transfer status</p>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">New Transfer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex justify-content-around">
                                <form action="" @submit.prevent="" class="formTransfer">
                                    <fieldset>
                                        <h4>Monto</h4>
                                        <input type="number" v-model="amount">
                                    </fieldset>
                                    <fieldset>
                                        <h4>Descripcion:</h4>
                                        <input type="text" name="" v-model="transDescription">
                                    </fieldset>
                                    <fieldset>
                                        <h4>Cuenta que envia:</h4>
                                        <select class="form-check" v-model="accSend">
                                            <option :value="account.number" v-for="account in activeAccounts">
                                                {{account.number}} - ${{account.balance.toLocaleString('es-MX')}}
                                            </option>
                                        </select>
                                    </fieldset>
                                    <fieldset>
                                        <h4>Cuenta a la que envia:</h4>
                                        <select class="form-check" v-model="transAccSelect">
                                            <option value="cuentaPropia">Cuenta Propia</option>
                                            <option value="cuentaTercero">Cuenta de tercero</option>
                                        </select>
                                    </fieldset>
                                    <fieldset v-if="transAccSelect == 'cuentaPropia'">
                                        <select class="form-check" v-model="accRecive">
                                            <option :value="account.number" v-for="account in activeAccounts">
                                                {{account.number}}</option>
                                        </select>
                                    </fieldset>
                                    <fieldset class="mt-4" v-if="transAccSelect == 'cuentaTercero'">
                                        <input type="text" name="" id="" v-model="accRecive">
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer d-flex justify-content-end">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-sendTansfer ms-2" @click="newTransactions">
                                    <span class="btn-text-one">Send</span>
                                    <span class="btn-text-two">Great!</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">New Account Summary</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex justify-content-around">
                                <form action="">
                                    <fieldset>
                                        <label for="" class="me-2">Start date:</label>
                                        <input type="date" name="" id="" v-model="fromDate" class="ms-2">
                                    </fieldset>
                                    <fieldset>
                                        <label for="" class="me-2">End date:</label>
                                        <input type="date" name="" id="" v-model="toDate" class="ms-2">
                                    </fieldset>
                                    <fieldset>
                                        <label for="" class="me-2">Select Account</label>
                                        <select name="" id="" v-model="accountPrint">
                                            <option value="" selected disabled>choose...</option>
                                            <option :value="account.number" v-for="account in activeAccounts">{{account.number}}</option>
                                        </select>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer d-flex justify-content-end">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-sendTansfer ms-2" @click="generateTransactionPdf">
                                    <span class="btn-text-one">Send</span>
                                    <span class="btn-text-two">Great!</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main__cards ">
                    <div class="card card--finance d-flex justify-content-center">
                        <div class="card__header">
                            <div class="card__header-title text-light">Account <strong>Transfer</strong>
                            </div>
                            <div class="card__header-title text-light">
                                {{account.accountType}} ACCOUNT: {{account.number}}
                            </div>
                            <div class="card__header-title text-light">
                                Current balance: ${{account.balance}}
                            </div>
                        </div>
                        <div class="card__main">
                            <div class="card__row" v-for="transaction in accountTransaction">
                                <div class="card__icon"><i class="fa-solid fa-money-bill-1"></i></div>
                                <div class="card__time">
                                    <div>{{formatDate(transaction.dateCreation)}}</div>
                                </div>
                                <div class="card__detail">
                                    <div class="card__source text-bold" style="color: red;"
                                        v-if="transaction.type == 'DEBIT'">{{transaction.type}}</div>
                                    <div class="card__source text-bold" style="color: green;"
                                        v-if="transaction.type == 'CREDIT'">{{transaction.type}}</div>
                                    <div class="card__description">{{transaction.description}}</div>
                                    <div class="card__note">$ {{transaction.amount.toLocaleString('es-MX')}}</div>
                                    <div class="card__note">Post transfer balance:
                                        ${{transaction.postTransaction.toLocaleString('es-MX')}}</div>
                                    <div class="card__note">Previus transfer balance:
                                        ${{transaction.afterTransaction.toLocaleString('es-MX')}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="footer">
                <div class="footer__header align-baseline">
                    <img src="./assets/img/hb.png" alt="" id="logoFooter">
                    <p><span class="footer__copyright">&copy;</span> 2022</p>
                </div>
                <p>Hubber's Bank by <a href="https://github.com/AlejandroTorresM" target="_blank"
                        class="footer__signature">Alejandro, Torres Marambio</a></p>
            </footer>
        </div>

    </div>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src='https://www.amcharts.com/lib/3/amcharts.js'></script>
    <script src='https://www.amcharts.com/lib/3/serial.js'></script>
    <script src="./archivosjs/transfers.js"></script>
</body>

</html>